body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: 0px none white;

    cursor: pointer;
}
button:hover {
    opacity: 0.7;
}

.add-to-cart-button {
    background-color: rgb(255, 216, 20);
    
    border-radius: 20px;

    padding: 5px 30px;
}

.request-button {
    background-color: black;
    color: white;

    font-weight: 600;

    border-radius: 5px;

    padding: 10px 12px;

    margin-right: 5px;
}

.schedule-button {
    background-color: rgb(230, 230, 230);

    font-weight: 600;

    border-radius: 5px;

    padding: 10px 15px;
    
    margin-left: 5px;
}

.not-toggled {
    background-color: black;
    color: white;

    padding: 10px;

    border-radius: 5px;
}

.is-toggled {
    background-color: rgb(230, 230, 230);
    color: black;

    padding: 10px;

    border-radius: 5px;
}