body{
    background-color: black;
    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
}

button {
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}

.resetButton{
    font-size: 20px;

    border: 0px none black;
    border-radius: 5px;

    padding: 3px 15px;
}

.playButton{
    background-color: black;

    border: 3px solid white;
    border-radius: 60px;

    width: 120px;
    height: 120px;

    font-size: 40px;
}